name: build and publish

# enables builds on releases, PRs and workflow dispatches,
# only publishing on release
on:
  release:
    types:
      - created
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build Distributions (whl + sdist)
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: windows-latest
          - os: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install requires
        run: python -m pip install --upgrade pip build cibuildwheel twine

      # only build sdist on linux
      - name: Build sdist (Linux only)
        if: runner.os == 'Linux'
        run: python -m build --sdist

      # build wheels for everywhere else, arches defined in pyproject.toml
      - name: Build wheels for "${{ matrix.os }}"
        run: python -m cibuildwheel --output-dir dist

      - name: Check distributions
        run: twine check dist/*

      # only upload artifacts if they're going to be published to pypi
      - uses: actions/upload-artifact@v6
        if: github.event_name == 'release'
        with:
          name: dist-${{ runner.os }}
          path: dist/*
          retention-days: 2

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest

    # only publish on release events
    if: github.event_name == 'release'

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist

      - name: Publish to pypi
        run: |
          python -m pip install --upgrade twine
          twine upload --disable-progress-bar dist/**/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
